<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="HOME" value="${env_var:HOMEDRIVE}${env_var:HOMEPATH}"/>
<mapEntry key="PATH" value="C:\Program Files (x86)\cwRsync;${env_var:PATH}"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files (x86)\cwRsync\rsync.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="incremental,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-avz&#13;&#10;--chmod=Dugo+rx,u+w,Fugo+r,u+w&#13;&#10;--exclude-from=.rsync_exclude&#13;&#10;--rsh=&quot;ssh -i /cygdrive/d/hong/ssh/id_rsa&quot;&#13;&#10;--delete-after&#13;&#10;.&#13;&#10;hongz@192.168.11.31:Zend"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="D:\Zend\workspaces\DefaultWorkspace"/>
</launchConfiguration>
